.SearchFormRoot {
    background-color: var(--color-top-title);
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 12.5%;
    padding-right: 12.5%;
    border-bottom: 1px solid var(--color-white-gray);
    display: flex;
    flex-direction: column;
}
.SearchFormRoot span {
    font-size: 30px;
    color: var(--color-normal-text-color);
    margin-left: auto;
    margin-right: auto;
}

.SearchFormInput {
    display: flex;
    margin-top: 48px;
    box-sizing: border-box;
}

.SearchFormInput div {
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    flex-shrink: 0;
    padding: 8px;
    background-color: var(--color-primary);
}

.SearchFormResult {
    color: var(--color-search-result);
    padding-left: 12.5%;
    padding-right: 12.5%;
    margin-top: 24px;
    font-size: 13px;
}

.SearchItemRoot {
    width: 75%;
    margin-left: 12.5%;
    border-bottom: 1px solid var(--color-white-gray);
    margin-top: 24px;
}

.SearchItemTitle {
    font-size: 18px;
    color: var(--color-search-item-title);
}

.SearchItemConstraint {
    font-size: 13px;
    margin-top: 16px;
    color: var(--color-search-result);
}

.SearchItemContent {
    font-size: 13px;
    color: var(--color-search-item-title);
    margin-top: 16px;
    margin-bottom: 16px;
}

.SearchPaginationRoot {
    width: 100%;
    margin-top: 24px;
    display: flex;
}

.SearchPaginationRoot div{
    margin: 0 auto;
}