.UserRoot {
    width: 75%;
    margin: auto;
    margin-top: 48px;
}
.UserStatisticsRoot {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 24px;
}

.UserStatisticsRootMobile {
    flex-direction: column;
}

.UserName {
    color: var(--color-normal-text-color);
    font-size: 28px;
}

.UserMessage {
    padding: 16px;
    border-left: 2px solid var(--color-white-gray);
    font-size: 17.5px;
    margin-top: 16px;
    transition: 0.5s;
}

.UserMessage:hover {
    border-left-color: var(--color-primary);
}

.UserDivTop {
    width: 100%;
    height: 1px;
    background-color: var(--color-white-gray);
    margin-top: 96px;
}

.UserDiv {
    width: 100%;
    height: 1px;
    background-color: var(--color-white-gray);
}

.UserDivMarginTop24 {
    margin-top: 24px;
}

.UserStatisticsLeft {
    width: 300px;
    flex-shrink: 0;
}

.UserStatisticsLeftMobile {
    width: 100%;
}

.UserStatisticsLeftRow {
    display: flex;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
}

.UserStatisticsLeftTitle {
    width: 67%;
    display: inline-block;
    color: var(--color-normal-text-color);
    font-weight: bold;
    font-size: 14px;
}

.UserStatisticsLeftTitleCorrect {
    color: var(--color-correct);
}

.UserStatisticsLeftTitleWrong {
    color: var(--color-wrong);
}

.UserStatisticsLeftContent {
    width: 33%;
    display: inline-block;
    display: inline-block;
    color: var(--color-normal-text-color);
    font-size: 14px;
}

.UserStatisticsLeftRankGraph {
    width: 100%;
    border-bottom: 1px solid var(--color-white-gray);
    overflow-x: scroll;
    white-space: nowrap;
}

.UserStatisticsLeftRatioGraph {
    width: 100%;
    height: 300px;
    text-align: center;
    padding-top: 50px;
}

.UserStatisticsRightSide {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    margin-left: 24px;
}

.UserStatisticsRightSideMobile {
    margin-left: 0px;
    margin-top: 24px;
}

.UserStatisticsRightSideContainerRoot {
    width: 100%;
    border: 1px solid var(--color-white-gray);
}

.UserStatisticsRightSideTitle {
    background-color: var(--color-block-title-background);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 18px;
    color: var(--color-normal-text-color);
    border-bottom: 1px solid var(--color-white-gray)
}

.UserStatisticsRightSideDaily {
    width: 100%;
    overflow-x: auto;
}

.UserStatisticsRightSideProblem {
    width: 100%;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.marginTop24 {
    width: 100%;
    margin-top: 24px;
}

.UserStatisticsRightSideProblem a{
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    padding: 8px;
}
.UserGrassGraphMargin {
    height: 16px;
    width: 100%;
}

.UserStatisticsGrassLinearRoot {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    box-sizing: border-box;
}

.UserStatisticsGrassLinearInner {
    margin-left: auto;
    width: 100px;
}

.UserStatisticsGrassLinearText {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.UserStatisticsGrassLinearText span{
    font-size: 10px;
    color: #DFDFDF;
}

.UserStatisticsGrassLinearBox {
    width: 100%;
    height: 12px;
    box-sizing: border-box;
    border: 1px solid #DFDFDF;
    background: linear-gradient(to right, rgb(162, 238, 151), rgb(0, 152, 116));
}