.HeaderRoot {
    padding-left: 12.5%;
    padding-right: 12.5%;
    border-bottom: 1px solid var(--color-white-gray);
    display: flex;
    position: relative;
    flex-direction: row;
}
.HeaderRightSide {
    margin-left: auto;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.HeaderUserAnchorGroup {
    margin-left: auto;
}

.UserAnchor>li {
    display: inline;
    color: var(--color-regent-gray);
    font-size: 11px;
}
.UserAnchor>li::after {
    content: "|";
    padding-left: 4px;
    padding-right: 4px;
}
.UserAnchor>li:last-child::after {
    content: "";
}

.TapButtonRoot {
    display: inline-block;
    position: relative;
}
.TapButtonRoot a {
    display: inline-block;
    padding:16px;
    padding-bottom: 14px;
    border-bottom: 2px solid transparent;
    font-size: 14px;
    
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    text-decoration: none;
    color: var(--color-normal-text-color);
}
.TapButtonRoot a.active {
    border-bottom: 2px solid var(--color-primary);
    color: var(--color-normal-text-color);
}
.TapButtonRoot a:hover {
    border-bottom: 2px solid var(--color-primary);
    color: var(--color-normal-text-color);
}
.TapButtonRoot img{
    width: 16px;
    height: 16px;
}

.HeaderHamburgerButtonGroup {
    margin-left: auto;
    margin-bottom: 16px;
}

.MobileHeaderDropDown {
    position: absolute;
    top: 100%;
    width: 75%;
    background-color: white;
    margin-top: 1px;
    transition: all;
    transition-duration: 0.5s;
}

.MobileHeaderDropDown a {
    text-decoration: none;
    color: var(--color-normal-text-color);
}

.MobileHeaderDropDown p {
    padding: 16px;
    color: var(--color-normal-text-color);
}

.MobileHeaderDropDown img {
    width: 16px;
    height: 16px;
}

.MobileHeaderDropDownBorder {
    height: 1px;
    background-color: var(--color-white-gray);
}