.PwFindTitle {
	padding-left: 12.5%;
	padding-top: 32px;
	padding-bottom: 32px;
	background-color: var(--color-top-title);
	font-size: 30px;
	color: var(--color-normal-text-color);
	border-bottom: 1px solid var(--color-white-gray);
}

.PwFindRoot {
	width: 600px;
	margin: auto;
	margin-top: 84px;
}

.PwFindRootMobile {
	width: 75%;
	margin: auto;
	margin-top: 84px;
}

.PwFindInputTitle {
	font-weight: bold;
	color: var(--color-gray);
	font-size: 13px;
	margin-top: 12px;
	margin-bottom: 6px;
}
.PwFindButton {
	width: 100%;
	display: flex;
	margin-top: 24px;
}
.PwFindButton button {
	margin: auto;
}
