.Logo {
    width: 200px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.LogoMobile {
    width: 100px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.LogoMarginLeftAuto {
    margin-left: auto;
}