.SettingWithdrawRoot {
    width: 75%;
    margin: auto;
    display: flex;
    margin-top: 48px;
    flex-direction: row;
}

.SettingWithdrawRootMobile {
    flex-direction: column;
}

.SettingWithdrawContent {
    flex-grow: 1;
    margin-left: 24px;
}

.SettingWithdrawContentMobile {
    margin-left: 0px;
    margin-top: 24px;
}

.SettingWithdrawMainTitle {
    font-size: 21px;
    color: var(--color-normal-text-color);
}

.SettingWithdrawDiv {
    width: 100%;
    height: 1px;
    background-color: var(--color-white-gray);
    margin-top: 8px;
}

.SettingWithdrawSubTitle {
    width: 100%;
    text-align: center;
    color: black;
    font-size: 13px;
    margin-top: 16px;
}

.SettingWithdrawButtonGroup {
    width: 100%;
    display: flex;
    margin-top: 16px;
}

.SettingWithdrawButtonGroup button:first-child {
    margin-left: auto;
}
.SettingWithdrawButtonGroup button:last-child {
    margin-right: auto;
    margin-left: 16px;
}