.RadioButtonLabel {
    font-size: 13px;
}

.RadioButtonLabel input,
.RadioButtonLabel span {
    vertical-align: middle;
}

.RadioButtonLabel span {
    margin-left: 12px;
}

.RadioButtonLabel input {
    vertical-align: middle;
    appearance: none;

    border: 1px solid var(--color-primary);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    position: relative;
}

.RadioButtonLabel input:checked::before {
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--color-primary); /* 가운데 원의 색상 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}