.tap-button-root {
    display: inline-block;
    position: relative;
}
.tap-button-root span {
    display: inline-block;
    padding:16px;
    padding-bottom: 14px;
    border-bottom: 2px solid transparent;
    font-size: 14px;
    
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.tap-button-root span:hover {
    border-bottom: 2px solid var(--color-primary);
}
.tap-button-root img{
    width: 16px;
    height: 16px;
}