@font-face {
	font-family: 'D2Coding';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: 'D2Coding';
}
html,
body {
	height: 100%;
}

#root {
	height: 100%;
	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
}

footer {
	flex-shrink: 0;
}
