:root {
    --color-white-gray: #EEEEEE;
    --color-primary: #428BCA;
    --color-regent-gray: #7C8082;
    --color-normal-text-color: #333333;
    --color-silver: #BBBBBB;
    --color-top-title: #FBFBFB;
    --color-gray: #777777;
    --color-input-border: #CCCCCC;
    --color-setting-tab-background: #717984;
    --color-danger: #DC3545;
    --color-correct: #009874;
    --color-wrong: #DD4124;
    --color-block-title-background: #F5F5F5;
    --color-problem-text: #555555;
    --color-light-gray: #F9F9F9;
    --color-example: #F7F7F7;
}