:root {
	--color-white-gray: #eeeeee;
	--color-primary: #428bca;
	--color-regent-gray: #7c8082;
	--color-normal-text-color: #333333;
	--color-silver: #bbbbbb;
	--color-top-title: #fbfbfb;
	--color-gray: #777777;
	--color-input-border: #cccccc;
	--color-setting-tab-background: #717984;
	--color-danger: #dc3545;
	--color-correct: #009874;
	--color-wrong: #dd4124;
	--color-block-title-background: #f5f5f5;
	--color-problem-text: #555555;
	--color-light-gray: #f9f9f9;
	--color-example: #f7f7f7;
	--color-notice: #dff0d8;
	--color-search-result: #999999;
	--color-search-item-title: #555555;
	--color-intro-sticker-edge: #d6e2e9;
	--color-wait: #efc050;
}
